@import "../font-awesome/css/font-awesome.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#megamenus-config select,
#megamenus-config textarea,
#megamenus-config input[type="text"],
#megamenus-config input[type="password"],
#megamenus-config input[type="datetime"],
#megamenus-config input[type="datetime-local"],
#megamenus-config input[type="date"],
#megamenus-config input[type="month"],
#megamenus-config input[type="time"],
#megamenus-config input[type="week"],
#megamenus-config input[type="number"],
#megamenus-config input[type="email"],
#megamenus-config input[type="url"],
#megamenus-config input[type="search"],
#megamenus-config input[type="tel"],
#megamenus-config input[type="color"],
#megamenus-config .uneditable-input {
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1;	
	padding: 5px;	
	font-size: 12px;	
	color: #777;
	line-height: 18px;
	height: 35px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.disabled {
	cursor: default;	
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#megamenus-config {
	color: #777;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: normal;
	min-height: 800px;
	position: relative;
	/* megamenus config header */
	.megamenus-config-header {
		background: #fff;
		border: 1px solid #d1d1d1;
		margin-bottom: 20px;
		padding: 20px;
		overflow: hidden;
		h3 {
			background: #fff;
	    color: #666;
	    font-weight: 700;
	    left: 20px;
	    padding: 0 5px;
	    position: absolute;
	    top: -10px;
		}
		.config-group {
			ul {
				margin: 20px 0 0 0;
				padding: 0;
				float: left;
			}
			li {
				list-style: none;
				display: block;
				float: left;
				margin-right: 20px;
				margin-bottom: 15px;
				min-height: 55px;
				.hasTip {
					display: block;	
					font-weight: 300;		
					margin-bottom: 10px;			
				}				

			}
			fieldset {
				border: none;
				margin: 0;
				padding: 0;
			}
			.radio {
				label {
					margin-right: 10px;
				}
				input {
					margin-left: 0;
					margin-right: 3px;
					float: none;
				}
			}
			select {				
				min-width: 200px;
				option {
					padding: 5px;					
				}
			}
			.toolitem-moveleft {
				display: inline-block;
				background: gold;
				margin-right: 10px;
				padding: 15px;
			}
			.toolitem-moveright {
				display: inline-block;
				background: gold;
				padding: 15px;
			}
			.radio-group {
				label {
					margin-right: 10px;
				}
			}
			.btn-group {
				.config-action {
					padding-bottom: 0;
				  padding-top: 0;
				}			
			}
		} /* end config group */
		.megamenus-actions-group {
			clear: both;			
			padding-top: 10px;
			overflow: hidden;
			float: left;
			.btn {				
				margin: 0 10px 0 0;
			}
		}
		
		#megamenus-config-groups {
			h3 {
				margin-top: 0;
			}
		}
		.megamenus-messages-group {
			.toolbox-message {
				text-align: center;
				width: 50%;
				color: red;		 
			  position: absolute;
			  top: 10px;
			  left: 50%;
		    transform: translate(-50%);
			  -webkit-transform: translate(-50%);
			  -moz-transform: translate(-50%);
			  -ms-transform: translate(-50%);
			  -o-transform: translate(-50%);
			  margin-bottom: 10px;
			}
			
		}
		.megamenus-links-group {
			float: left;
			margin-top: 10px;
			margin-left: 10px;
			a {
				margin-right: 10px;
				line-height: 35px;
			}
		}
	}
}

/* end megamenus config header */

/* megamenus config content */
.megamenus {
	.nav {		
		> li {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
			> a {
				border: 1px solid #e5e5e5;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				color: #777;
				font-weight: 400;
			  padding: 10px 30px;
			}
			&.open {
				> a {
					background: #f1f1f1;
					&:hover, &:focus {
						background: #f1f1f1;
					}
				}
			}
			.dropdown-menu {
				border: 1px solid #e5e5e5;
			  padding: 10px;
			  margin-top: 10px;
			  border-radius: 3px;
			  transition: all 0.1s ease 0s;
			  -webkit-transition: all 0.1s ease 0s;
			  -moz-transition: all 0.1s ease 0s;
			  min-width: 200px;
			  background: #f1f1f1;
			  -webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
			  z-index: 99;
			  .megamenus-row {			  			
				  margin-bottom: 10px;		  		 
				  .megamenus-col {
				  	padding: 0;				  					
						.megamenus-col-inner {
							background: #fff;		
							margin-left:10px;
              border: 1px dotted #e5e5e5;
						  border-radius: 3px;	
						  min-height: 30px;
						  padding: 10px;	
						  transition: all 0.1s ease 0s;
				      -webkit-transition: all 0.1s ease 0s;
				      -moz-transition: all 0.1s ease 0s;								
						}
						&:first-child {
							.megamenus-col-inner {
								margin-left: 0;
							}
						}		  	
				  	ul {
				  		list-style: none;
				  		margin: 0;				  		
				  		li {
				  			margin-bottom: 5px;
				  			> a {				  				
								  border: 1px dotted #e5e5e5;
						      border-radius: 3px;				  
								  color: #999;
								  display: block;
								  font-size: 12px;
								  line-height: 18px;
								  padding: 5px 20px 5px 10px;
								  transition: all 0.1s ease 0s;
								  -webkit-transition: all 0.1s ease 0s;
								  -moz-transition: all 0.1s ease 0s;
								  &:hover, &:focus {
								  	background: #eee;
								  	text-decoration: none;								  	
								  }
				  			}
				  			&:last-child {
				  				margin-bottom: 0;
				  			}
				  		}
				  	}
				  	.caret {
				  			display: none;
				  		}
				  	.submenu-group {				  		
				  		.megamenus-submenu {
				  			background: #f2f2f2;
				  			border: 1px dotted #e5e5e5;
				  			margin-top: 10px;
				  			padding: 10px;
				  			-webkit-border-radius: 3px;
								-moz-border-radius: 3px;
								border-radius: 3px;
				  		}
				  	}				  	
				  } /* end column */
				  &:last-child {
				  	margin-bottom: 0;
				  }
			  } /* end row */

			} /* end dropdown menu */
			.megamenus-active {	
				.megamenus-col-inner {
					border: 1px solid #0687d1 !important;
				  border-radius: 3px;
				  text-shadow: 0 1px 1px white;			
				}	
			}
		}
	}
	.hidden-collapse {
		display: none !important;
	}
}
/* end megamenus config content */

@media (max-width: 768px) {
	.megamenus {
		.collapse {
			display: block;
		}
		.nav {
			> li {
				margin-right: 0;
				margin-bottom: 10px;
				.dropdown-menu {
					.megamenus-row {
						.megamenus-col {
							margin-top: 10px;
							width: 100%;
							.megamenus-col-inner {
								margin-left: 0;
							}
							&:first-child {
								margin-top: 0;
							}
							.dropdown-submenu {
								.dropdown-menu {
									margin-top: 10px;
									margin-left: 0;
								}
							}
						}
					}
				}			
			}
			.submenu-align-center {
			> .dropdown-menu {			 
			  transform: translate(0);
			  -webkit-transform: translate(0);
			  -moz-transform: translate(0);
			  -ms-transform: translate(0);
			  -o-transform: translate(-0);
			}
		}
		}
	}
}




