@import "../font-awesome/css/font-awesome.css";

.megamenus {
	.nav {
		margin: 0;
		position: relative;
		> li {
			.caret {
				display: none;
			}			
		}
		.submenu-align-right {
			> .dropdown-menu {
				left: auto;
				right: 0;
			}
		}
		.submenu-align-center {
			> .dropdown-menu {
			  left: 50%;
			  transform: translate(-50%);
			  -webkit-transform: translate(-50%);
			  -moz-transform: translate(-50%);
			  -ms-transform: translate(-50%);
			  -o-transform: translate(-50%);
			}
		}
		.submenu-align-justify {
			position: static;
			> .dropdown-menu {
				left: 0;
 				margin-left: 0;
  			top: auto;
				width: 100% !important;
			}
		}
	} /* end navbar */
	.dropdown-menu {
		.megamenus-row {
			.megamenus-col {
				.block {
					h2 {
						display: none;
					}
				}
				&.show-block-title {
					.block {
						h2 {
							display: block;
						}
					}
				}
				.caret {
					display: none;
				}				
				.submenu-group {
		  		> a {
		  			font-weight: bold;
		  			text-transform: uppercase;				  			
		  		}
		  		.megamenus-submenu {
		  			width: 100% !important;
		  		}
		  	}
			}
		}
	} /* end dropdown-menu*/
	.dropdown-submenu {
		position: relative;	
		.dropdown-menu {     
			display: none;
			top: 0;
			left: 100%;
			margin-top: 0;
			margin-left: 11px;	
			min-width: 200px;	
			-webkit-border-radius: 0 3px 3px 3px;
			-moz-border-radius: 0 3px 3px 3px;
			border-radius: 0 3px 3px 3px;
		}
		.dropdown-toggle {
			position: relative;
			&:after {
				display: block;
				content: " ";									
				width: 0;
				height: 0;
				border-color: transparent;
				border-style: solid;
				border-width: 5px 0 5px 5px;
				border-left-color: #ccc;
				margin-top: -3px;								
				position: absolute;
				right: 10px;
				top: 50%;
			}
		}
		&:hover, &.open {
			.dropdown-menu {
  			display: block;
  		}
		}
	} /* end dropdown submenu */
	&.auto-arrow {
		.nav > li .caret {
			display: inline-block;
		}
	}
  
  /* animation */
	&.animate {
		.dropdown {
			> .dropdown-menu {
		    transition: all 400ms;
		    -webkit-transition: all 400ms;
		    -ms-transition: all 400ms;
		    -o-transition: all 400ms;
		    -webkit-backface-visibility: hidden;
		    -moz-backface-visibility: hidden;
		    -o-backface-visibility: hidden;
		    backface-visibility: hidden;
		    opacity: 0;		    
		    display: block;
		   
		    z-index: 1
		  }
		  &.open {
		  	> .dropdown-menu {
			    opacity: 1;		
			    z-index: 2;	   
			  }
		  }
		}
	}
	&.zoom {
		.dropdown {
			> .dropdown-menu {
		    transform: scale(0, 0);
		    transform-origin: 20% 20%;
		    -webkit-transform: scale(0, 0);
		    -webkit-transform-origin: 20% 20%;
		    -ms-transform: scale(0, 0);
		    -ms-transform-origin: 20% 20%;
		    -o-transform: scale(0, 0);
		    -o-transform-origin: 20% 20%;
		  }
		  &.open {
		  	> .dropdown-menu {
			     transform: scale(1, 1);
			    -webkit-transform: scale(1, 1);
			    -ms-transform: scale(1, 1);
			    -o-transform: scale(1, 1);
			  }
		  }
		}
		.submenu-align-center {
			> .dropdown-menu {		  	
		    transform: scale(0, 0) translate(-50%);
		    -webkit-transform: scale(0, 0) translate(-50%);
		    -ms-transform: scale(0, 0) translate(-50%);
		    -o-transform: scale(0, 0) translate(-50%);			  
		  }
		  &.open {
		  	> .dropdown-menu {
			     transform: scale(1, 1) translate(-50%);
			    -webkit-transform: scale(1, 1) translate(-50%);
			    -ms-transform: scale(1, 1) translate(-50%);
			    -o-transform: scale(1, 1) translate(-50%);
			  }
		  }
		}
	}
	&.slide {
		.dropdown {
			> .dropdown-menu {
		      > div {
		     	transition: all 400ms;
			    -webkit-transition: all 400ms;
			    -ms-transition: all 400ms;
			    -o-transition: all 400ms;
			    -webkit-backface-visibility: hidden;
			    -moz-backface-visibility: hidden;
			    -o-backface-visibility: hidden;
			    backface-visibility: hidden;
			    margin-top: -100%;
		    }		    
		  }
		  &.open {
		  	> .dropdown-menu {
			     > div {
			     	margin-top: 0%;
			     }
			  }
		  }
		}		
	}
	&.elastic {
		.dropdown {
			> .dropdown-menu {
		    transform: scale(0, 1);
		    transform-origin: 10% 0;
		    -webkit-transform: scale(0, 1);
		    -webkit-transform-origin: 10% 0;
		    -ms-transform: scale(0, 1);
		    -ms-transform-origin: 10% 0;
		    -o-transform: scale(0, 1);
		    -o-transform-origin: 10% 0;
		  }
		  &.open {
		  	> .dropdown-menu {
			     transform: scale(1, 1);
			    -webkit-transform: scale(1, 1);
			    -ms-transform: scale(1, 1);
			    -o-transform: scale(1, 1);
			  }
		  }
		}		
	}
}



