.megamenus {
	clear: both;
	min-height: 0 !important;
	.container-fluid,
	.navbar-collapse {
		padding: 0;    
	}	
  .nav {
    > li {
      > a {
        padding: 15px;
      }
    }
  }  
} 	

.dropdown-menu {
  font-size: 1em;
  min-width: 160px;
  padding: 0;
  &:before {
    display: none;
  }
  ul {
    padding: 0;
    > li {
      display: block;
      float: none;
      list-style: none;
      margin-left: 0 !important;
      > a {
        border-top: 1px solid #eee;     
        display: block;
        line-height: 20px;
        font-weight: normal;
        padding: 5px 0; 
        &:hover, &:focus {
          outline: none;   
          text-decoration: none;       
        }        
      }
      &:first-child {
        > a {
          border-top: none;            
        }
      }             
    }           
    .submenu-group {
      .megamenus-col {
        padding: 0 !important;
      }       
    }
  }     
  .megamenus-row {
    border-top: 1px solid #eee;
    &:first-child {
      border-top: none;
    } 
    .megamenus-col {
      padding: 5px 10px;      
    }
    .dropdown-submenu {
      .dropdown-menu {
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin-left: 0;
      }
    }     
  }
}

.vertical {
  .nav {
    > li {
      display: block;
      float: none;
      margin: 0;
      padding: 0;
      width: 12em;
    }
    .dropdown-menu {
      border-bottom-left-radius: 0;
      border-top-right-radius: 5px;      
      left: 100%;
      top: 50%;
    }
    .submenu-align-right,
    .submenu-align-justify,
    .submenu-align-center {
      position: relative;
      > .dropdown-menu {
        left: 100%;
        top: 50%;
        transform: none;
      }
    }
    .caret {
      border-bottom: 4px solid transparent;
      border-top-color: transparent;
      border-right: none;
      border-left: 4px solid;
      margin-top: -5px;
      position: absolute;
      right: 10px;
      top: 50%;
    }
  }
}

@media (max-width: 992px) {
	.megamenus {
    clear: both;
    height: 100%;  
    position: relative;
		.navbar-header {
			float: none;
      position: relative;
      margin: 0 !important;
			.navbar-toggle {
	      display: block; 
	      float: right;
	      margin: 0 0 10px !important;     
        position: static !important;  
	    }
		}		
    .navbar-collapse.collapse {
      display: none !important;      
   }
    .navbar-collapse.collapsing {
      display: block;
    }
    .navbar-collapse.collapse.in {
      display: block !important;      
      overflow-y: hidden;
      max-height: 20000px;
    } 
    .navbar {
    	min-height: 0;
    }   
   .navbar-collapse {     
      margin: 0 !important;
    }
		.nav {
			> li {
				display: block;
				float: none;
		   	> a {		   		
		   		border-top: 1px solid #eee;
		   		font-weight: bold;
		   		text-transform: uppercase;
		   		position: relative;
		   		.caret {
						margin-top: -3px;
						position: absolute;
						right: 10px;
						top: 50%;
					}
		   	}
		   	&:first-child {
		   		> a {
		   			border-top: none;
		   		}
		   	}
        > .dropdown-menu {
          border-top: 1px solid #eee;
          border-radius: 0;
        }		   	
		  }
		}
		.navbar-collapse {
   		border-top: none;
   	}   
  }

  .always-show-submenu {
    .dropdown-menu {
      background: none;
      border: none;
      box-shadow: none;
      display: block !important;
      float: none;
      left: auto;
      position: static !important;
      top: auto;
      width: 100% !important; 
      transform: none !important;
      .dropdown-submenu {       
        a {
          border-top: none;
          padding-left: 10px;
          padding-right: 10px;
        }       
      }   
    }
  }
  /* Vertical reponsive */
  .vertical {
    .nav {
      > li {        
        width: auto;
      }
    }
  }
}