@import "../../fonts/oswald_regular/stylesheet.css";

.style-theme_weebpal_hotel {
	color: #fff;
	.navbar-collapse {
		background: #514332;	 
	}	
	.nav {
		> li {  		 
		  margin: 0;		  
		  padding-right: 1px;		 
  		> a {  
  			color: #fff !important;
			  font-family: Georgia,"Times New Roman",Times,serif;
			  font-size: 16px;
			  padding: 11px 20px;			 
			  text-shadow: none;					  
  		}
  		&:last-child {
  			background: none;
  			padding-right: 0;
  		}
  		&:hover, &:focus, &.open, &.active {
  			> a {
  				background: #905c14 !important;  
  				color: #fff !important;			 
  			}
  		}  		
		}
	}
	.dropdown-menu {
	  background: #905c14;	  
	  .megamenus-row {
	  	border-color: #a86a15;
	  	.block {
        h2 {
          color: #fff;
        }
        a {
          color: #a86a15;
          &:hover, &:focus {
            color: #fff;
          }
        }       
      }
	  }
	  ul {
			li {
		  	> a {
				  border-top-color: #a86a15;
				  color: #fff;				 
				  font-family: Arial, Helvetica, sans-serif;				 
				  line-height: normal;		
				  margin: 0 -10px;
				  padding: 8px 10px !important;
				  text-transform: none;
				  &:hover, &:focus {
				  	background: #6d440c;
				  	color: #fff;
				  }
				}
				&.active > a {
					background: #6d440c;
				  color: #fff;
				}
		  }
	  }	  
	}
}

.vertical {	
	.nav {		
		> li {
			border-bottom: 1px solid #5f4f3c;
			margin: 0;
			padding: 0;
		}
	}
}

@media (max-width: 992px) {
	.style-theme_weebpal_hotel {
		.nav {
			> li {
				background: none;				
				> a {
					color: #fff;
					border-color: #a86a15;	
					font-size: 14px;							
					text-shadow: none;					
				}
				&:hover, &:focus, &.open, &.active {
	  			> a {
	  				background: #905c14;
	  				border-color: #a86a15;
	  				color: #fff !important;			 
	  				&:hover, &:focus {
	  					background: #905c14;
	  					border-color: #a86a15;
	  				}
	  			}
	  		}	
	  		> .dropdown-menu {
          border-top: 1px solid #a86a15;          
        }   		
			}
			.dropdown-menu {
				background: none;
				border: none;
				box-shadow: none;
				.megamenus-row {
					.megamenus-col {
						border-top: 1px solid #a86a15;
						&:first-child {
							border-top: none;
						}
					}				  	
			  }			
			}
		}
	}
	.vertical {	
		.nav {		
			> li {
				border-bottom: none;				
			}
		}
	}	
}