@import "../../fonts/oswald_regular/stylesheet.css";

.style-theme_weebpal_education {
	color: #fff;	
	.container-fluid {
		background: url("../../images/presets/education/bg-right-nav.png") no-repeat 100% 0;
		padding-bottom: 7px ;
		padding-right:30px;	 
	}
	.navbar-collapse {
		background: url("../../images/presets/education/bg-left-nav.png") no-repeat 0 0;	
		padding-bottom: 7px !important;  
		padding-left: 30px;
	}	
	.nav {
		background: #3b281c;
		height: 51px;
    width: 100%;
		> li {			
  		padding: 3px 0 0 0 !important;
		  margin: 0 4px 0 0;		 
  		> a {  			
			  color: #b29581 !important;			  
			  font-size: 14px;
			  font-family: 'oswaldregular';
			  line-height: 18px;
			  padding: 15px 20px;
        text-shadow: none;
			  text-transform: uppercase;
			  text-shadow: none;
  		}
  		&:last-child {  			
  			margin-right: 0;
  		}
  		&:hover, &:focus, &.open, &.active {
  			> a {
  				background: #0c0703 !important;  
  				color: #fff !important;			 
  			}
  		}  		
		}
	}
	.dropdown-menu {	
		background: #0c0703;
    &:after,  &:after {
      display: none !important;
    }	
		.megamenus-row {
	  	border-color: #39291c;
	  	.block {
        h2 {
          color: #fff;
        }
        a {
          color: #fff;
          &:hover, &:focus {
            color: #32821f;
          }
        }
      }
	  }
	  ul {
			li {
		  	> a {
				  border-top-color: #39291c;
				  color: #fff;
				  font-family: Arial,Helvetica,sans-serif;
				  font-size: 1em;
				  color: #fff;
				  text-transform: none !important;
				  padding: 7px 10px;
				  &:hover, &:focus {
				  	background: #32821f;
            color: #fff;
				  }
				}
				&.active > a {
					background: #32821f;
				}
		  }
	  }	  
	}
}

.vertical {
	.container-fluid {
		background: none;
	}
	.navbar-collapse {
		background: none;
	}
	.nav {
		height: auto;
		> li {
			border-bottom: 1px solid #b29581;
			margin: 0;
			padding: 0;
		}
	}
}

@media (max-width: 992px) {
	.style-theme_weebpal_education {		
		.container-fluid {
			background: none;
			padding: 0;
		}
		.navbar-collapse {
			background: #000;
			padding: 0;
		}
		.nav {
			background: none;
			height: auto;
			> li {
				background: none;	
				margin: 0;			
				> a {
					border-color: #39291c;
					text-shadow: none;					
				}
				&:hover, &:focus, &.open, &.active {
	  			> a {
	  				background: #0c0703 !important;
	  				border-color: #39291c;  
	  				color: #fff !important;			 
	  				&:hover, &:focus {
	  					border-color: #39291c; 
	  				}
	  			}
	  		}
	  		.dropdown-menu {
					background: none;
					border: none;
					box-shadow: none;
					.megamenus-row {
						.megamenus-col {
							border-top: 1px solid #39291c;
							&:first-child {
								border-top: none;
							}
						}				  	
				  }
					li {
						> a {
							margin: 0;
						}
					}
				}
			}
		}
	}	
	/* Vertical reponsive */
  .vertical {
    .nav {
      > li {
        border-bottom: none;
        width: auto;
      }
    }
  }
}

