@import url(../../fonts/oswald_regular/stylesheet.css);
/* line 3, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education {
  color: #fff;
}
/* line 5, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .container-fluid {
  background: url("../../images/presets/education/bg-right-nav.png") no-repeat 100% 0;
  padding-bottom: 7px;
  padding-right: 30px;
}
/* line 10, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .navbar-collapse {
  background: url("../../images/presets/education/bg-left-nav.png") no-repeat 0 0;
  padding-bottom: 7px !important;
  padding-left: 30px;
}
/* line 15, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .nav {
  background: #3b281c;
  height: 51px;
  width: 100%;
}
/* line 19, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .nav > li {
  padding: 3px 0 0 0 !important;
  margin: 0 4px 0 0;
}
/* line 22, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .nav > li > a {
  color: #b29581 !important;
  font-size: 14px;
  font-family: 'oswaldregular';
  line-height: 18px;
  padding: 15px 20px;
  text-shadow: none;
  text-transform: uppercase;
  text-shadow: none;
}
/* line 32, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .nav > li:last-child {
  margin-right: 0;
}
/* line 36, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .nav > li:hover > a, .style-theme_weebpal_education .nav > li:focus > a, .style-theme_weebpal_education .nav > li.open > a, .style-theme_weebpal_education .nav > li.active > a {
  background: #0c0703 !important;
  color: #fff !important;
}
/* line 43, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu {
  background: #0c0703;
}
/* line 45, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu:after, .style-theme_weebpal_education .dropdown-menu:after {
  display: none !important;
}
/* line 48, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu .megamenus-row {
  border-color: #39291c;
}
/* line 51, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu .megamenus-row .block h2 {
  color: #fff;
}
/* line 54, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu .megamenus-row .block a {
  color: #fff;
}
/* line 56, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu .megamenus-row .block a:hover, .style-theme_weebpal_education .dropdown-menu .megamenus-row .block a:focus {
  color: #32821f;
}
/* line 64, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu ul li > a {
  border-top-color: #39291c;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
  color: #fff;
  text-transform: none !important;
  padding: 7px 10px;
}
/* line 72, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu ul li > a:hover, .style-theme_weebpal_education .dropdown-menu ul li > a:focus {
  background: #32821f;
  color: #fff;
}
/* line 77, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu ul li.active > a {
  background: #32821f;
}

/* line 86, ../../sass/presets/theme_weebpal_education.scss */
.vertical .container-fluid {
  background: none;
}
/* line 89, ../../sass/presets/theme_weebpal_education.scss */
.vertical .navbar-collapse {
  background: none;
}
/* line 92, ../../sass/presets/theme_weebpal_education.scss */
.vertical .nav {
  height: auto;
}
/* line 94, ../../sass/presets/theme_weebpal_education.scss */
.vertical .nav > li {
  border-bottom: 1px solid #b29581;
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  /* line 104, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .container-fluid {
    background: none;
    padding: 0;
  }
  /* line 108, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .navbar-collapse {
    background: #000;
    padding: 0;
  }
  /* line 112, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav {
    background: none;
    height: auto;
  }
  /* line 115, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li {
    background: none;
    margin: 0;
  }
  /* line 118, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li > a {
    border-color: #39291c;
    text-shadow: none;
  }
  /* line 123, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li:hover > a, .style-theme_weebpal_education .nav > li:focus > a, .style-theme_weebpal_education .nav > li.open > a, .style-theme_weebpal_education .nav > li.active > a {
    background: #0c0703 !important;
    border-color: #39291c;
    color: #fff !important;
  }
  /* line 127, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li:hover > a:hover, .style-theme_weebpal_education .nav > li:hover > a:focus, .style-theme_weebpal_education .nav > li:focus > a:hover, .style-theme_weebpal_education .nav > li:focus > a:focus, .style-theme_weebpal_education .nav > li.open > a:hover, .style-theme_weebpal_education .nav > li.open > a:focus, .style-theme_weebpal_education .nav > li.active > a:hover, .style-theme_weebpal_education .nav > li.active > a:focus {
    border-color: #39291c;
  }
  /* line 132, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li .dropdown-menu {
    background: none;
    border: none;
    box-shadow: none;
  }
  /* line 137, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li .dropdown-menu .megamenus-row .megamenus-col {
    border-top: 1px solid #39291c;
  }
  /* line 139, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li .dropdown-menu .megamenus-row .megamenus-col:first-child {
    border-top: none;
  }
  /* line 145, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li .dropdown-menu li > a {
    margin: 0;
  }

  /* Vertical reponsive */
  /* line 156, ../../sass/presets/theme_weebpal_education.scss */
  .vertical .nav > li {
    border-bottom: none;
    width: auto;
  }
}
