@import url(../../fonts/oswald_regular/stylesheet.css);
/* line 3, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site {
  color: #ad9457;
}
/* line 5, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .navbar-collapse {
  background: url("../../images/presets/corporate-site/bg-menu.gif") repeat-x 0 100%;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.25);
  height: 41px;
}
/* line 11, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .nav > li {
  background: url("../../images/presets/corporate-site/bg-line-menu.gif") no-repeat 0 0;
  padding-left: 2px;
  margin: 0;
}
/* line 15, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .nav > li > a {
  color: #fff !important;
  font-family: Corbel, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-shadow: none;
  text-transform: uppercase;
  padding: 9px 20px;
}
/* line 23, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .nav > li:first-child {
  background: none;
  padding-left: 0;
}
/* line 28, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .nav > li:hover > a, .style-theme_weebpal_corporate_site .nav > li:focus > a, .style-theme_weebpal_corporate_site .nav > li.open > a, .style-theme_weebpal_corporate_site .nav > li.active > a {
  background: url("../../images/presets/corporate-site/bg-menu-active.gif") repeat-x 0 100% !important;
  color: #fff !important;
}
/* line 35, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .dropdown-menu {
  border: 2px solid #625129;
  background: url(../../images/presets/corporate-site/bg-submenu.gif) repeat-x 0 0 #010101;
  border-top-width: 1px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  min-width: 160px;
}
/* line 41, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .dropdown-menu .megamenus-row {
  border-color: #0c0c0c;
}
/* line 44, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .dropdown-menu .megamenus-row .block h2 {
  color: #ad9457;
}
/* line 47, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .dropdown-menu .megamenus-row .block a {
  color: #ad9457;
}
/* line 49, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .dropdown-menu .megamenus-row .block a:hover, .style-theme_weebpal_corporate_site .dropdown-menu .megamenus-row .block a:focus {
  color: #e0c06fa;
}
/* line 57, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .dropdown-menu ul li > a {
  border-top-color: #625129;
  color: #ad9457;
  float: none;
  font-family: Corbel, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
  margin: 0 -10px;
  padding: 8px 10px !important;
  text-transform: none;
}
/* line 67, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .dropdown-menu ul li > a:hover, .style-theme_weebpal_corporate_site .dropdown-menu ul li > a:focus {
  color: #e0c06f;
}
/* line 71, ../../sass/presets/theme_weebpal_corporate_site.scss */
.style-theme_weebpal_corporate_site .dropdown-menu ul li.active > a {
  color: #e0c06f;
}

/* line 80, ../../sass/presets/theme_weebpal_corporate_site.scss */
.vertical .navbar-collapse {
  background: none;
}
/* line 84, ../../sass/presets/theme_weebpal_corporate_site.scss */
.vertical .nav > li {
  background: none;
  padding: 0;
}
/* line 87, ../../sass/presets/theme_weebpal_corporate_site.scss */
.vertical .nav > li > a {
  color: #a22c08 !important;
}

@media (max-width: 992px) {
  /* line 96, ../../sass/presets/theme_weebpal_corporate_site.scss */
  .style-theme_weebpal_corporate_site .navbar-collapse {
    background: #171717;
  }
  /* line 100, ../../sass/presets/theme_weebpal_corporate_site.scss */
  .style-theme_weebpal_corporate_site .nav > li {
    background: none;
  }
  /* line 102, ../../sass/presets/theme_weebpal_corporate_site.scss */
  .style-theme_weebpal_corporate_site .nav > li > a {
    border-color: #0c0c0c;
    color: #696969 !important;
    text-shadow: none;
  }
  /* line 108, ../../sass/presets/theme_weebpal_corporate_site.scss */
  .style-theme_weebpal_corporate_site .nav > li:hover > a, .style-theme_weebpal_corporate_site .nav > li:focus > a, .style-theme_weebpal_corporate_site .nav > li.open > a, .style-theme_weebpal_corporate_site .nav > li.active > a {
    background: #2d2d2d !important;
    border-color: #0c0c0c;
    color: #fff !important;
  }
  /* line 112, ../../sass/presets/theme_weebpal_corporate_site.scss */
  .style-theme_weebpal_corporate_site .nav > li:hover > a:hover, .style-theme_weebpal_corporate_site .nav > li:hover > a:focus, .style-theme_weebpal_corporate_site .nav > li:focus > a:hover, .style-theme_weebpal_corporate_site .nav > li:focus > a:focus, .style-theme_weebpal_corporate_site .nav > li.open > a:hover, .style-theme_weebpal_corporate_site .nav > li.open > a:focus, .style-theme_weebpal_corporate_site .nav > li.active > a:hover, .style-theme_weebpal_corporate_site .nav > li.active > a:focus {
    border-color: #0c0c0c;
  }
  /* line 117, ../../sass/presets/theme_weebpal_corporate_site.scss */
  .style-theme_weebpal_corporate_site .nav > li > .dropdown-menu {
    border-top: 1px solid #0c0c0c;
  }
  /* line 122, ../../sass/presets/theme_weebpal_corporate_site.scss */
  .style-theme_weebpal_corporate_site .dropdown-menu {
    background: none;
    border: none;
    box-shadow: none;
  }
  /* line 127, ../../sass/presets/theme_weebpal_corporate_site.scss */
  .style-theme_weebpal_corporate_site .dropdown-menu .megamenus-row .megamenus-col {
    border-top: 1px solid #0c0c0c;
  }
  /* line 129, ../../sass/presets/theme_weebpal_corporate_site.scss */
  .style-theme_weebpal_corporate_site .dropdown-menu .megamenus-row .megamenus-col:first-child {
    border-top: none;
  }
  /* line 135, ../../sass/presets/theme_weebpal_corporate_site.scss */
  .style-theme_weebpal_corporate_site .dropdown-menu li > a {
    margin: 0;
  }
}
