@import url(../font-awesome/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* line 20, ../sass/backend.scss */
#megamenus-config select,
#megamenus-config textarea,
#megamenus-config input[type="text"],
#megamenus-config input[type="password"],
#megamenus-config input[type="datetime"],
#megamenus-config input[type="datetime-local"],
#megamenus-config input[type="date"],
#megamenus-config input[type="month"],
#megamenus-config input[type="time"],
#megamenus-config input[type="week"],
#megamenus-config input[type="number"],
#megamenus-config input[type="email"],
#megamenus-config input[type="url"],
#megamenus-config input[type="search"],
#megamenus-config input[type="tel"],
#megamenus-config input[type="color"],
#megamenus-config .uneditable-input {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  padding: 5px;
  font-size: 12px;
  color: #777;
  line-height: 18px;
  height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 33, ../sass/backend.scss */
.disabled {
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 42, ../sass/backend.scss */
#megamenus-config {
  color: #777;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: normal;
  min-height: 800px;
  position: relative;
  /* megamenus config header */
}
/* line 51, ../sass/backend.scss */
#megamenus-config .megamenus-config-header {
  background: #fff;
  border: 1px solid #d1d1d1;
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
  /* end config group */
}
/* line 57, ../sass/backend.scss */
#megamenus-config .megamenus-config-header h3 {
  background: #fff;
  color: #666;
  font-weight: 700;
  left: 20px;
  padding: 0 5px;
  position: absolute;
  top: -10px;
}
/* line 67, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group ul {
  margin: 20px 0 0 0;
  padding: 0;
  float: left;
}
/* line 72, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group li {
  list-style: none;
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
  min-height: 55px;
}
/* line 79, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group li .hasTip {
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
}
/* line 86, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 92, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group .radio label {
  margin-right: 10px;
}
/* line 95, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group .radio input {
  margin-left: 0;
  margin-right: 3px;
  float: none;
}
/* line 101, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group select {
  min-width: 200px;
}
/* line 103, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group select option {
  padding: 5px;
}
/* line 107, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group .toolitem-moveleft {
  display: inline-block;
  background: gold;
  margin-right: 10px;
  padding: 15px;
}
/* line 113, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group .toolitem-moveright {
  display: inline-block;
  background: gold;
  padding: 15px;
}
/* line 119, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group .radio-group label {
  margin-right: 10px;
}
/* line 124, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .config-group .btn-group .config-action {
  padding-bottom: 0;
  padding-top: 0;
}
/* line 130, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .megamenus-actions-group {
  clear: both;
  padding-top: 10px;
  overflow: hidden;
  float: left;
}
/* line 135, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .megamenus-actions-group .btn {
  margin: 0 10px 0 0;
}
/* line 141, ../sass/backend.scss */
#megamenus-config .megamenus-config-header #megamenus-config-groups h3 {
  margin-top: 0;
}
/* line 146, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .megamenus-messages-group .toolbox-message {
  text-align: center;
  width: 50%;
  color: red;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  margin-bottom: 10px;
}
/* line 162, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .megamenus-links-group {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
/* line 166, ../sass/backend.scss */
#megamenus-config .megamenus-config-header .megamenus-links-group a {
  margin-right: 10px;
  line-height: 35px;
}

/* end megamenus config header */
/* megamenus config content */
/* line 179, ../sass/backend.scss */
.megamenus .nav > li {
  margin-right: 20px;
  /* end dropdown menu */
}
/* line 181, ../sass/backend.scss */
.megamenus .nav > li:last-child {
  margin-right: 0;
}
/* line 184, ../sass/backend.scss */
.megamenus .nav > li > a {
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #777;
  font-weight: 400;
  padding: 10px 30px;
}
/* line 193, ../sass/backend.scss */
.megamenus .nav > li.open > a {
  background: #f1f1f1;
}
/* line 195, ../sass/backend.scss */
.megamenus .nav > li.open > a:hover, .megamenus .nav > li.open > a:focus {
  background: #f1f1f1;
}
/* line 200, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu {
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  min-width: 200px;
  background: #f1f1f1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 99;
  /* end row */
}
/* line 215, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row {
  margin-bottom: 10px;
  /* end column */
}
/* line 217, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col {
  padding: 0;
}
/* line 219, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col .megamenus-col-inner {
  background: #fff;
  margin-left: 10px;
  border: 1px dotted #e5e5e5;
  border-radius: 3px;
  min-height: 30px;
  padding: 10px;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
}
/* line 231, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col:first-child .megamenus-col-inner {
  margin-left: 0;
}
/* line 235, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col ul {
  list-style: none;
  margin: 0;
}
/* line 238, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col ul li {
  margin-bottom: 5px;
}
/* line 240, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col ul li > a {
  border: 1px dotted #e5e5e5;
  border-radius: 3px;
  color: #999;
  display: block;
  font-size: 12px;
  line-height: 18px;
  padding: 5px 20px 5px 10px;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
}
/* line 251, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col ul li > a:hover, .megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col ul li > a:focus {
  background: #eee;
  text-decoration: none;
}
/* line 256, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col ul li:last-child {
  margin-bottom: 0;
}
/* line 261, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col .caret {
  display: none;
}
/* line 265, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col .submenu-group .megamenus-submenu {
  background: #f2f2f2;
  border: 1px dotted #e5e5e5;
  margin-top: 10px;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 276, ../sass/backend.scss */
.megamenus .nav > li .dropdown-menu .megamenus-row:last-child {
  margin-bottom: 0;
}
/* line 283, ../sass/backend.scss */
.megamenus .nav > li .megamenus-active .megamenus-col-inner {
  border: 1px solid #0687d1 !important;
  border-radius: 3px;
  text-shadow: 0 1px 1px white;
}
/* line 291, ../sass/backend.scss */
.megamenus .hidden-collapse {
  display: none !important;
}

/* end megamenus config content */
@media (max-width: 768px) {
  /* line 299, ../sass/backend.scss */
  .megamenus .collapse {
    display: block;
  }
  /* line 303, ../sass/backend.scss */
  .megamenus .nav > li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  /* line 308, ../sass/backend.scss */
  .megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col {
    margin-top: 10px;
    width: 100%;
  }
  /* line 311, ../sass/backend.scss */
  .megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col .megamenus-col-inner {
    margin-left: 0;
  }
  /* line 314, ../sass/backend.scss */
  .megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col:first-child {
    margin-top: 0;
  }
  /* line 318, ../sass/backend.scss */
  .megamenus .nav > li .dropdown-menu .megamenus-row .megamenus-col .dropdown-submenu .dropdown-menu {
    margin-top: 10px;
    margin-left: 0;
  }
  /* line 328, ../sass/backend.scss */
  .megamenus .nav .submenu-align-center > .dropdown-menu {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}
