@import url(../font-awesome/css/font-awesome.css);
/* line 3, ../sass/base.scss */
.megamenus {
  /* end navbar */
  /* end dropdown-menu*/
  /* end dropdown submenu */
  /* animation */
}
/* line 4, ../sass/base.scss */
.megamenus .nav {
  margin: 0;
  position: relative;
}
/* line 8, ../sass/base.scss */
.megamenus .nav > li .caret {
  display: none;
}
/* line 13, ../sass/base.scss */
.megamenus .nav .submenu-align-right > .dropdown-menu {
  left: auto;
  right: 0;
}
/* line 19, ../sass/base.scss */
.megamenus .nav .submenu-align-center > .dropdown-menu {
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}
/* line 28, ../sass/base.scss */
.megamenus .nav .submenu-align-justify {
  position: static;
}
/* line 30, ../sass/base.scss */
.megamenus .nav .submenu-align-justify > .dropdown-menu {
  left: 0;
  margin-left: 0;
  top: auto;
  width: 100% !important;
}
/* line 42, ../sass/base.scss */
.megamenus .dropdown-menu .megamenus-row .megamenus-col .block h2 {
  display: none;
}
/* line 48, ../sass/base.scss */
.megamenus .dropdown-menu .megamenus-row .megamenus-col.show-block-title .block h2 {
  display: block;
}
/* line 53, ../sass/base.scss */
.megamenus .dropdown-menu .megamenus-row .megamenus-col .caret {
  display: none;
}
/* line 57, ../sass/base.scss */
.megamenus .dropdown-menu .megamenus-row .megamenus-col .submenu-group > a {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 61, ../sass/base.scss */
.megamenus .dropdown-menu .megamenus-row .megamenus-col .submenu-group .megamenus-submenu {
  width: 100% !important;
}
/* line 68, ../sass/base.scss */
.megamenus .dropdown-submenu {
  position: relative;
}
/* line 70, ../sass/base.scss */
.megamenus .dropdown-submenu .dropdown-menu {
  display: none;
  top: 0;
  left: 100%;
  margin-top: 0;
  margin-left: 11px;
  min-width: 200px;
  -webkit-border-radius: 0 3px 3px 3px;
  -moz-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
}
/* line 81, ../sass/base.scss */
.megamenus .dropdown-submenu .dropdown-toggle {
  position: relative;
}
/* line 83, ../sass/base.scss */
.megamenus .dropdown-submenu .dropdown-toggle:after {
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: -3px;
  position: absolute;
  right: 10px;
  top: 50%;
}
/* line 99, ../sass/base.scss */
.megamenus .dropdown-submenu:hover .dropdown-menu, .megamenus .dropdown-submenu.open .dropdown-menu {
  display: block;
}
/* line 105, ../sass/base.scss */
.megamenus.auto-arrow .nav > li .caret {
  display: inline-block;
}
/* line 113, ../sass/base.scss */
.megamenus.animate .dropdown > .dropdown-menu {
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  display: block;
  z-index: 1;
}
/* line 128, ../sass/base.scss */
.megamenus.animate .dropdown.open > .dropdown-menu {
  opacity: 1;
  z-index: 2;
}
/* line 137, ../sass/base.scss */
.megamenus.zoom .dropdown > .dropdown-menu {
  transform: scale(0, 0);
  transform-origin: 20% 20%;
  -webkit-transform: scale(0, 0);
  -webkit-transform-origin: 20% 20%;
  -ms-transform: scale(0, 0);
  -ms-transform-origin: 20% 20%;
  -o-transform: scale(0, 0);
  -o-transform-origin: 20% 20%;
}
/* line 148, ../sass/base.scss */
.megamenus.zoom .dropdown.open > .dropdown-menu {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
/* line 157, ../sass/base.scss */
.megamenus.zoom .submenu-align-center > .dropdown-menu {
  transform: scale(0, 0) translate(-50%);
  -webkit-transform: scale(0, 0) translate(-50%);
  -ms-transform: scale(0, 0) translate(-50%);
  -o-transform: scale(0, 0) translate(-50%);
}
/* line 164, ../sass/base.scss */
.megamenus.zoom .submenu-align-center.open > .dropdown-menu {
  transform: scale(1, 1) translate(-50%);
  -webkit-transform: scale(1, 1) translate(-50%);
  -ms-transform: scale(1, 1) translate(-50%);
  -o-transform: scale(1, 1) translate(-50%);
}
/* line 176, ../sass/base.scss */
.megamenus.slide .dropdown > .dropdown-menu > div {
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: -100%;
}
/* line 190, ../sass/base.scss */
.megamenus.slide .dropdown.open > .dropdown-menu > div {
  margin-top: 0%;
}
/* line 199, ../sass/base.scss */
.megamenus.elastic .dropdown > .dropdown-menu {
  transform: scale(0, 1);
  transform-origin: 10% 0;
  -webkit-transform: scale(0, 1);
  -webkit-transform-origin: 10% 0;
  -ms-transform: scale(0, 1);
  -ms-transform-origin: 10% 0;
  -o-transform: scale(0, 1);
  -o-transform-origin: 10% 0;
}
/* line 210, ../sass/base.scss */
.megamenus.elastic .dropdown.open > .dropdown-menu {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
