/* line 1, ../sass/megamenus.scss */
.megamenus {
  clear: both;
  min-height: 0 !important;
}
/* line 5, ../sass/megamenus.scss */
.megamenus .container-fluid,
.megamenus .navbar-collapse {
  padding: 0;
}
/* line 10, ../sass/megamenus.scss */
.megamenus .nav > li > a {
  padding: 15px;
}

/* line 17, ../sass/megamenus.scss */
.dropdown-menu {
  font-size: 1em;
  min-width: 160px;
  padding: 0;
}
/* line 21, ../sass/megamenus.scss */
.dropdown-menu:before {
  display: none;
}
/* line 24, ../sass/megamenus.scss */
.dropdown-menu ul {
  padding: 0;
}
/* line 26, ../sass/megamenus.scss */
.dropdown-menu ul > li {
  display: block;
  float: none;
  list-style: none;
  margin-left: 0 !important;
}
/* line 31, ../sass/megamenus.scss */
.dropdown-menu ul > li > a {
  border-top: 1px solid #eee;
  display: block;
  line-height: 20px;
  font-weight: normal;
  padding: 5px 0;
}
/* line 37, ../sass/megamenus.scss */
.dropdown-menu ul > li > a:hover, .dropdown-menu ul > li > a:focus {
  outline: none;
  text-decoration: none;
}
/* line 43, ../sass/megamenus.scss */
.dropdown-menu ul > li:first-child > a {
  border-top: none;
}
/* line 49, ../sass/megamenus.scss */
.dropdown-menu ul .submenu-group .megamenus-col {
  padding: 0 !important;
}
/* line 54, ../sass/megamenus.scss */
.dropdown-menu .megamenus-row {
  border-top: 1px solid #eee;
}
/* line 56, ../sass/megamenus.scss */
.dropdown-menu .megamenus-row:first-child {
  border-top: none;
}
/* line 59, ../sass/megamenus.scss */
.dropdown-menu .megamenus-row .megamenus-col {
  padding: 5px 10px;
}
/* line 63, ../sass/megamenus.scss */
.dropdown-menu .megamenus-row .dropdown-submenu .dropdown-menu {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: 0;
}

/* line 74, ../sass/megamenus.scss */
.vertical .nav > li {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  width: 12em;
}
/* line 81, ../sass/megamenus.scss */
.vertical .nav .dropdown-menu {
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  left: 100%;
  top: 50%;
}
/* line 89, ../sass/megamenus.scss */
.vertical .nav .submenu-align-right,
.vertical .nav .submenu-align-justify,
.vertical .nav .submenu-align-center {
  position: relative;
}
/* line 91, ../sass/megamenus.scss */
.vertical .nav .submenu-align-right > .dropdown-menu,
.vertical .nav .submenu-align-justify > .dropdown-menu,
.vertical .nav .submenu-align-center > .dropdown-menu {
  left: 100%;
  top: 50%;
  transform: none;
}
/* line 97, ../sass/megamenus.scss */
.vertical .nav .caret {
  border-bottom: 4px solid transparent;
  border-top-color: transparent;
  border-right: none;
  border-left: 4px solid;
  margin-top: -5px;
  position: absolute;
  right: 10px;
  top: 50%;
}

@media (max-width: 992px) {
  /* line 111, ../sass/megamenus.scss */
  .megamenus {
    clear: both;
    height: 100%;
    position: relative;
  }
  /* line 115, ../sass/megamenus.scss */
  .megamenus .navbar-header {
    float: none;
    position: relative;
    margin: 0 !important;
  }
  /* line 119, ../sass/megamenus.scss */
  .megamenus .navbar-header .navbar-toggle {
    display: block;
    float: right;
    margin: 0 0 10px !important;
    position: static !important;
  }
  /* line 126, ../sass/megamenus.scss */
  .megamenus .navbar-collapse.collapse {
    display: none !important;
  }
  /* line 129, ../sass/megamenus.scss */
  .megamenus .navbar-collapse.collapsing {
    display: block;
  }
  /* line 132, ../sass/megamenus.scss */
  .megamenus .navbar-collapse.collapse.in {
    display: block !important;
    overflow-y: hidden;
    max-height: 20000px;
  }
  /* line 137, ../sass/megamenus.scss */
  .megamenus .navbar {
    min-height: 0;
  }
  /* line 140, ../sass/megamenus.scss */
  .megamenus .navbar-collapse {
    margin: 0 !important;
  }
  /* line 144, ../sass/megamenus.scss */
  .megamenus .nav > li {
    display: block;
    float: none;
  }
  /* line 147, ../sass/megamenus.scss */
  .megamenus .nav > li > a {
    border-top: 1px solid #eee;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
  }
  /* line 152, ../sass/megamenus.scss */
  .megamenus .nav > li > a .caret {
    margin-top: -3px;
    position: absolute;
    right: 10px;
    top: 50%;
  }
  /* line 160, ../sass/megamenus.scss */
  .megamenus .nav > li:first-child > a {
    border-top: none;
  }
  /* line 164, ../sass/megamenus.scss */
  .megamenus .nav > li > .dropdown-menu {
    border-top: 1px solid #eee;
    border-radius: 0;
  }
  /* line 170, ../sass/megamenus.scss */
  .megamenus .navbar-collapse {
    border-top: none;
  }

  /* line 176, ../sass/megamenus.scss */
  .always-show-submenu .dropdown-menu {
    background: none;
    border: none;
    box-shadow: none;
    display: block !important;
    float: none;
    left: auto;
    position: static !important;
    top: auto;
    width: 100% !important;
    transform: none !important;
  }
  /* line 188, ../sass/megamenus.scss */
  .always-show-submenu .dropdown-menu .dropdown-submenu a {
    border-top: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Vertical reponsive */
  /* line 199, ../sass/megamenus.scss */
  .vertical .nav > li {
    width: auto;
  }
}
